:root {
    --dark-blue: #343F56;
    --red: #F54748;
    --orange: #FB9300;
    --beige: #F5E6CA;
    --beige-bg: #FEFBF7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body { 
    background-color: var(--beige-bg);
}

header{
    width: auto;
    height: 70px;
    background-color: var(--dark-blue);
    box-shadow: 0px 4px 4px rgba(52, 63, 86, 0.3);

    font-style: normal;
    font-weight: 400;
}

#logo:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  cursor: pointer;
}
.container {
    height: 100%;

    margin: 0 6rem 0 6rem;
   
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

canvas {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
}

#snake_game {
  display: flex;

  flex-direction: column;
  align-items: center;
}

nav li {
    list-style: none;    
    font-size: 18px;

    margin-left: 8px;
    margin-right: 8px;
    list-style-type: none;

    
    display: inline-block; 
    text-align: left;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav button {
    font-size: 18px;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 0.3rem;
    margin-left: 8px;

    display: inline;
}

nav button div {
  margin: 0 1.25rem 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button:hover {
  background-color: var(--orange);
  cursor: pointer;
}

nav a {
    color: var(--beige-bg);
    text-decoration: none;  
    font-size: 18px;
}

nav a:hover {
  color: var(--orange);
  cursor: pointer;
}


#game_score {
  width: 257px;
  height: 60px;

  background: #343f56;
  border-radius: 10px;

  margin-top: 16px;
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  color: var(--orange);

  display: flex;
  align-items: center;
  justify-content: center;
}

footer { 
  font-size: 22px;
  color: var(--dark-blue);
  font-style: normal;
  font-weight: 300;

  text-align: center;

  margin-top: 5rem;
}

